<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'play')}">
<body>
<h1>Welcome to Blackjack!</h1>
<h3>Place your bet and Click to start a new game</h3>

<!-------------------------- bet ------------------------------->
<!-- <div class="total">Total Coins : <span id="coins">100</span></div> -->

<div>

</div>
<!--<p th:text="${session.game.betAmount}"></p> -->

<form method="POST">
    <div class="#">Add coins: <input type="text" name="coins"></div>
    <br>
    <div class="#">Place bet: <input type="text" name="amount">
        <input type="submit" value="New Game"></div>
    <p th:if="${validate}" th:text="${validate}"></p>

</form>


</body>

</html>