.navbar {
    border-top: 4px solid #b31823;
    background-color: #34302d;
    margin-bottom: 0px;
    border-bottom: 0;
    border-left: 0;
    border-right: 0;
    padding: 0px;
}

.navbar a.navbar-brand {
    background: url("/resources/images/logo.png") -1px -1px no-repeat;
    margin: 12px 0 6px;
    width: 229px;
    height: 46px;
    display: inline-block;
    text-decoration: none;

}

.navbar a.navbar-brand span {
    display: block;
    width: 229px;
    height: 46px;
    background: url("/resources/images/logo.png") -1px -48px no-repeat;
    opacity: 0;
    -moz-transition: opacity 0.12s ease-in-out;
    -webkit-transition: opacity 0.12s ease-in-out;
    -o-transition: opacity 0.12s ease-in-out;
}

.navbar a:hover.navbar-brand span {
    opacity: 1;
}

.navbar a.nav-item {

    font-family: "montserratregular", sans-serif;
    text-shadow: none;
    font-size: 14px;

    line-height: 14px;
    padding: 31px 20px;
    transition: all 0.15s;
    -webkit-transition: all 0.15s;
    -moz-transition: all 0.15s;
    -o-transition: all 0.15s;
    -ms-transition: all 0.15s;
}

.navbar a.nav-item {
    color: #eeeeee;
    text-transform: uppercase;
    text-decoration: none;
}

.navbar a.nav-item {
    margin-top: 0;
    margin-bottom: 0;
}
.navbar a.nav-item:hover {
    color: #eeeeee;
    background-color: #b31823;
}
.navbar a.nav-item.active {
    color: #eeeeee;
    background-color: #b31823;
}

.navbar a.nav-item.right {
    margin-top: 0;
    margin-bottom: 0;
}
.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(179,24,35, 1)' stroke-width='4' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}