<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'profile')}"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<body>
    <table class="table table-hover">
        <tr>
            <td class="font-weight-bold">Username:</td>
            <td th:text="${user.username}">John</td>
        </tr>
        <tr>
            <td class="font-weight-bold">First Name:</td>
            <td th:text="${user.firstName}">John</td>
        </tr>
        <tr>
            <td class="font-weight-bold">Last Name:</td>
            <td th:text="${user.lastName}">John</td>
        </tr>
        <tr>
            <td class="font-weight-bold">Date of Birth:</td>
            <td th:text="${user.birthday}">John</td>
        </tr>
        <tr>
            <td class="font-weight-bold">E-mail:</td>
            <td th:text="${user.email}">John</td>
        </tr>
        <tr>
            <td class="font-weight-bold">Coins:</td>
            <td>[(${user.coinAmount})]<img th:src="@{/resources/images/coin.gif}" width="26px"> </td>
        </tr>
        <tr>
            <td class="font-weight-bold">Dark Mode:</td>
            <td th:text="${user.darkTheme}? 'On' : 'Off'"></td>
        </tr>
   </table>
</div>
</body>
</html>