<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'register')}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form th:object="${userForm}" class="form-horizontal" method="post">
    <input type="hidden" name="id" th:value="*{id}" />
    <div class="form-group has-feedback">
        <input
                th:replace="~{fragments/inputField :: input ('Username', 'username', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Password', 'password', 'password')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Confirm Password', 'passwordConfirm', 'password')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Email', 'email', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('First Name', 'firstName', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Last Name', 'lastName', 'text')}" />
        <input
                th:replace="~{fragments/inputField :: input ('Birth Date', 'birthday', 'date')}" />

    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-default" type="submit">Register</button>
        </div>
    </div>
</form>

</body>
</html>